body {
  font-family: "Poppins", sans-serif;
}
.navbar-light .navbar-brand .logo_color {
  color: #3e3e3e;
}
.carousel-item img {
  height: 500px;
}
.header_title {
  font-size: 50px;
}
@media only-screen and (max-width: 575.98px) {
}
