body {
  font-family: "Poppins", sans-serif;
}
/* logo customizing color  */
.navbar-light .navbar-brand .logo_color {
  color: #3e3e3e;
}
/* customizing image of carousel  */
.carousel-item img {
  height: 500px;
}
/* packaging button choose customize */
.price_btn {
  color: rgb(105, 100, 94);
  border-radius: 30px;
}
/* card customize  */
.card {
  border-radius: 20px;
  position: relative;
}
/* maanager-intro  */
.Meet_manager {
  text-align: center;
}
/* footer bg  color added */
footer {
  background-color: rgb(57, 53, 102);
}
